h1 {
    background-color:royalblue;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}
#head{
    background-color:lightgreen;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 6px solid maroon;
}
h2{
    color:aqua;
    background-color:gray;
}
body{
    background:dimgrey;

}
section{
    width: 30%;
    background: teal;
    height: 300px;
    float:left;
    margin-right: 2%;
}