h1 {
    background-color:royalblue;
    font-size: 150%;
    text-align: center;
}
#head{
    background-color:lightgreen;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border:6px solid maroon;
}
h2{
    color:aqua;
    background-color:dimgrey;
}
body{
    
}
#tidbit{

}